<% layout('layouts/boilerplate.ejs') %>
<h1>All Kebabs!</h1>
<ul>
  <% for (let kebab of allKebabs){ %>
  <li><a href="/kebabs/<%=kebab._id %>"><%=kebab.name%></a></li>
  <% } %>
</ul>
<a href="/kebabs/new">Create new Kebab</a>
